<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error occurred
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url:book_path(@book.id), mathod: :patch do |f| %>

  <div>title</div>
  <%= f.text_field :title %>

  <div>body</div>
  <%= f.text_area :body %>

  <div><%= f.submit 'Update Book' %></div>
  <div>
  <%= link_to "Show", book_path(@book.id) %>
  <%= link_to "Back", books_path %>
  </div>
<% end %>
